<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE hibernate-configuration PUBLIC "-//Hibernate/Hibernate Configuration DTD 3.0//EN" "http://hibernate.sourceforge.net/hibernate-configuration-3.0.dtd">
<hibernate-configuration>
  <session-factory>
    <property name="hibernate.dialect">org.hibernate.dialect.MySQLDialect</property>
    <property name="hibernate.connection.url">jdbc:mysql://localhost:3306/db_rest_fel?characterEncoding=UTF-8</property>
    <property name="hibernate.connection.username">restfel</property>
    <property name="hibernate.connection.password">restfel</property>
    <property name="hibernate.connection.autocommit">true</property>
    <property name="hibernate.connection.driver_class">com.mysql.jdbc.Driver</property>
    <property name="hibernate.transaction.factory_class">org.hibernate.transaction.JDBCTransactionFactory</property>
    <property name="hibernate.current_session_context_class">thread</property>
    <property name="cache.provider_class">org.hibernate.cache.NoCacheProvider</property>
    <property name="hibernate.show_sql">false</property>
    <property name="hibernate.hbm2ddl.auto">update</property>
    <mapping resource="cz/cvut/fel/restauracefel/hibernate/Income.hbm.xml"/>
    <mapping resource="cz/cvut/fel/restauracefel/hibernate/MenuMenuItem.hbm.xml"/>
    <mapping resource="cz/cvut/fel/restauracefel/hibernate/MaterialType.hbm.xml"/>
    <mapping resource="cz/cvut/fel/restauracefel/hibernate/Account.hbm.xml"/>
    <mapping resource="cz/cvut/fel/restauracefel/hibernate/Table.hbm.xml"/>
    <mapping resource="cz/cvut/fel/restauracefel/hibernate/UserRole.hbm.xml"/>
    <mapping resource="cz/cvut/fel/restauracefel/hibernate/Discount.hbm.xml"/>
    <mapping resource="cz/cvut/fel/restauracefel/hibernate/User.hbm.xml"/>
    <mapping resource="cz/cvut/fel/restauracefel/hibernate/Role.hbm.xml"/>
    <mapping resource="cz/cvut/fel/restauracefel/hibernate/UnitType.hbm.xml"/>
    <mapping resource="cz/cvut/fel/restauracefel/hibernate/Depreciation.hbm.xml"/>
    <mapping resource="cz/cvut/fel/restauracefel/hibernate/Order.hbm.xml"/>
    <mapping resource="cz/cvut/fel/restauracefel/hibernate/DiscountType.hbm.xml"/>
    <mapping resource="cz/cvut/fel/restauracefel/hibernate/UsedMaterial.hbm.xml"/>
    <mapping resource="cz/cvut/fel/restauracefel/hibernate/MenuItem.hbm.xml"/>
    <mapping resource="cz/cvut/fel/restauracefel/hibernate/Material.hbm.xml"/>
    <mapping resource="cz/cvut/fel/restauracefel/hibernate/Menu.hbm.xml"/>
    <mapping resource="cz/cvut/fel/restauracefel/hibernate/Expenditure.hbm.xml"/>
    <mapping resource="cz/cvut/fel/restauracefel/hibernate/OrderMenuItem.hbm.xml"/>
    <mapping resource="cz/cvut/fel/restauracefel/hibernate/ReasonType.hbm.xml"/>
    <mapping resource="cz/cvut/fel/restauracefel/hibernate/AccountStatusType.hbm.xml"/>
    <mapping resource="cz/cvut/fel/restauracefel/hibernate/AccountCategory.hbm.xml"/>
    <mapping resource="cz/cvut/fel/restauracefel/hibernate/MenuItemType.hbm.xml"/>
    <mapping resource="cz/cvut/fel/restauracefel/hibernate/Uzaverka.hbm.xml"/>
    <mapping resource="cz/cvut/fel/restauracefel/hibernate/Kontrola.hbm.xml"/>
    <mapping resource="cz/cvut/fel/restauracefel/hibernate/RoleDiscountType.hbm.xml"/>
    <mapping resource="cz/cvut/fel/restauracefel/hibernate/UserDiscountType.hbm.xml"/>
    <mapping resource="cz/cvut/fel/restauracefel/hibernate/Right.hbm.xml"/>
    <mapping resource="cz/cvut/fel/restauracefel/hibernate/RoleRight.hbm.xml"/>
	<mapping resource="cz/cvut/fel/restauracefel/hibernate/Typeworkshift.hbm.xml"/>
	<mapping resource="cz/cvut/fel/restauracefel/hibernate/Template.hbm.xml"/>
	<mapping resource="cz/cvut/fel/restauracefel/hibernate/TemplateList.hbm.xml"/>
	<mapping resource="cz/cvut/fel/restauracefel/hibernate/Workshift.hbm.xml"/>
  </session-factory>
</hibernate-configuration>
